# ==============================================================================
# 시스템 설정
# ==============================================================================
# Database
DB_TYPE=DUCKDB

# ==============================================================================
# 데이터베이스 설정
# ==============================================================================
# --- DuckDB 설정 ---
DUCKDB_PATH=data/blueachive.db
